.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1280px;
    min-height: 400px;
    margin: 0 auto;
    .footer-item{
        text-align: center;
        line-height: 30px;
        min-width: 300px;
        h4{
            font-size: 22px;
        }
        li{
            list-style-type: none;
            cursor: pointer;
            &:hover{
                color: #716147;
            }
        }
        div{
            max-width: 400px;
        }
    }
}

.web-info{
    text-align: center;
    padding: 10px;
    border-top: 2px solid #3a3b3c;
}

@media screen and (max-width:1024px){
    .footer-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    .footer-container{
        flex-direction: column;
    }
}