*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  font-family: "Cooper Lt BT";
  .nav{
    width: 100%;
    top: 0;
    padding: 10px;
    background-color: #2F2C2B;
  }
  .main{
    background-color: #f1f1f1;
  }
  .footer{
    width: 100%;
    background-color: #2F2C2B;
    color: #fff;
  }
}