$color-white: #fff;
$color-black: #2c2820;

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2C2B;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    max-width: 1300px;
    height: 90px;
    margin: 0 auto;
    .open-menu{
        display: none;
        width: 60px;
        height: 60px;
        position: relative;
        cursor: pointer;
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 2px;
                margin-top: -1px;
                margin-left: -20px;
                background-color: $color-white;
                color: $color-white;
                &:after, &:before{
                    background-color: $color-white;
                    content: "";
                    display: block;
                    position: absolute;
                    margin-top: -1px;
                    transition: .5s;
                    width: 50px;
                    height: 2px;
                    transform: translateY(-10px);
                    top: 50%;
                }
                &:after{
                    transform: translateY(10px);
                }
            }
    }
    .menu-items{
        list-style-type: none;
        display: flex;
        .menu-item{
            padding: 15px;
            text-transform: uppercase;
            .item-href{
                color: $color-white;
                text-decoration: none;
            }
            .drop-down{
                z-index: 1;
                display: none;
                opacity: 0;
                position: absolute;
                background-color: $color-white;
                color: $color-black;
                min-width: 180px;
                font-weight: normal;
                li{
                    border: solid 1px #eaeaea;
                    list-style-type: none;
                    text-transform: none;
                    line-height: 2;
                    padding: 5px;
                    &:hover{
                        background-color: #f1f1f1;
                    }
                }
            }
            .nav-arrow-down{
                padding-left: 6px;
                fill: $color-white;
                width: 18px;
            }
        }
    }
    .close-menu{
        display: none;
    }
    .basket{
        width: 40px;
        .basket-svg{
            fill: $color-white;
            width: 35px;
            height: 35px;
        }
    }
    .menu-item.down{
        .drop-down{
            display: block;
            opacity: 1;
            top: 80px;
            transition: all 0.3s ease;
            li{
                a{
                    text-decoration: none;
                    color: $color-black;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        .logo{
            order: 2;
        }
        .open-menu{
            display: block;
            order: 1;
        }
        .menu-items{
            flex-flow: column;
            position: absolute;
            left: 0;
            top: 0;
            width: 45%;
            height: 100%;
            background: $color-white;
            display: block;
            transition: 0.5s;
            transform: translate(-5000px);
            padding: 30px 0;
            .close-menu{
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
            .menu-item{
                line-height: 1;
                border-bottom: 1px solid #eaeaea;
                font-size: 15px;
                .item-href{
                    color: $color-black;
                    font-weight: normal;
                }
                .nav-arrow-down{
                    fill: $color-black;
                }
            }
        }
        .menu-items.mobile-menu{
            z-index: 1;
            transition: 0.5s;
            transform: translate(0px);
        }
        .menu-item.down{
            padding: 15px 15px 4px 15px;
            .drop-down{
                position: relative;
                top: 5px;
                left: 0;
                min-width: 50px;
                li{
                    border: none;
                    border-bottom: solid 1px #dadada;
                }
            }
        }
        .basket{
            order: 3;
        }
    }
}

@media(hover: hover) and (min-width: 768px) {
    #drop{
        &:hover > .drop-down{
            display: block;
            opacity: 1;
            top: 80px;
            li{
                a{
                    color: $color-black;
                    text-decoration: none;
                }
                
            }
            
        }
    }
    .menu-item{
        &:hover{
            border-bottom: 1px solid $color-white;
        }
    }
    #drop{
        border-bottom: none;
    }
}